/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.login-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Fixed width for the form */
}

.input-group {
  margin-bottom: 15px; /* Space between input fields */
}

label {
  margin-bottom: 5px;
  display: block; /* Labels on top of inputs */
  font-weight: bold; /* Bold labels */
}

.user-input,
#pass-input {
  width: 100%; /* Full width of the parent */
  padding: 10px; /* Padding inside the inputs */
  border: 1px solid #ccc; /* Light border */
  border-radius: 4px; /* Rounded corners */
}

.button-group {
  display: flex;
  justify-content: center; /* Center the button */
}

.login-button {
  background-color: #13e0e0; /* Primary button color */
  color: white; /* White text */
  padding: 10px 15px; /* Padding for the button */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

.login-button:hover {
  background-color: #07515e; /* Darker shade on hover */
}
