.nav-right {
  justify-content: flex-end; /* Aligns items to the right */
  gap: auto;
}

li .btn.btn-light {
  background-color: grey; /* Original background */
  border: none;
  margin-top: 2px;
  margin-right: 10px;
}

li .btn.btn-light:hover {
  background-color: #ff6f61; /* Coral for hover */
}
