body {
  background-color: #d9d9d9;
  color: #172a39;
}

.profile-container {
  display: flex;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: 1px solid #172a39;
  height: 100vh;
  && .back-btn {
    width: 1em;
    color: #172a39;
    font-size: 30px;
    font-weight: bold;
    margin: 1em 0 4em 2em;
    cursor: pointer;
    &&:hover {
      color: #e95a44;
    }
  }
  && h2 {
    margin-left: 5em;
    margin-top: 0.5em;
    font-weight: 50;
    font-size: 30px;
  }
  && button {
    margin-top: 25em;
    margin-left: 25%;
    width: 30%;
    background-color: #d9d9d9;
    border: none;
    font-weight: bold;
    font-size: 20px;
  }
}

.profile-content {
  display: flex;
  flex-direction: column;
  margin: 5em 0 0 25%;
  gap: 1em;
  && img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 5em;
  }
  && input {
    border: 2px solid #e95a44;
    border-radius: 10px;
    background: fixed;
    height: 50px;
    padding-left: 3em;
  }
  && .save-btn {
    border: none;
    background-color: #172a39;
    border-radius: 20px;
    color: white;
    height: 50px;
    width: 300px;
  }
  && .delete-btn {
    background: fixed;
    border: none;
    color: gray;
    margin-top: auto;
    margin-bottom: 5em;
  }
}
